/node_modules
/.next
/out
/build
.DS_Store
*.pem
.env*
!.env.example
next-env.d.ts
.vercel
*.tsbuildinfo

# matrix-test harness (install deps locally)
matrix-test/node_modules/
matrix-test/artifacts/
matrix-test/cache/
